# SPDX-FileCopyrightText: 2025 James Harton
#
# SPDX-License-Identifier: Apache-2.0

version: 2
updates:
  - package-ecosystem: "mix"
    directory: "/"
    schedule:
      interval: "weekly"
    groups:
      dev-dependencies:
        dependency-type: 'development'
      prod-dependencies:
        dependency-type: 'production'

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
